body{
	margin:0px;
	padding:0px;
	background: url("CSS2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

.title{
	position:absolute;
	top:230px;
	left:600px;
	letter-spacing:2px;
	color:white;
	font-size:55px;
	font-family:Arial, Helvetica, sans-serif;
	z-index:1;
}

.form{
	position:absolute;
	left:460px;
	top:180px;
	height:400px;
	width:600px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity:0.7;
	border-radius:10px;
}

.user, .pass{
	
	height:40px;
	width:400px;
	color:white;
	border-radius:50px;
	border:1px solid black;
	background-color:black;
	padding-left:10px;
	font-size:15px;
	opacity:0.7;
}


.user{
	position:absolute;
	top:350px;
	left:550px;
}

.pass{
	position:absolute;
	top:430px;
	left:550px;
}

.sub:hover{
	background-color:orange;
	border: 1px solid orange;
	color:white;
	opacity:0.8;
}

.sub{
	position:absolute;
	top:510px;
	left:930px;
	height:30px;
	width:100px;
	color:white;
	background-color:black;
	opacity:0.7;
	border-radius:15px;
	border:1px solid black;
}