body, p, h1, h2, h3, h4, h5, h6, button, ul, ol, li {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'serif';
}

button {
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #1a202c;
  border-bottom: 1px solid #718096;
}

.nav__header {
  display: flex;
  align-content: center;
  color: white;
  font-weight: 100;
  padding: 0.6rem 3rem;
}

.nav-links {
  display: none;
  list-style: none;
  justify-content: center;
  text-align: center;
}

.nav-link {
  padding: 1rem 2rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.nav-link:hover a {
  color: white;
}

.nav-link a {
  text-decoration: none;
  color: #718096;
}

.nav-link.active a {
  color: white;
}

.placeholder {
  width: 250px;
}

@media(min-width: 768px) {
  .nav-links {
    display: flex;
  }
}

.container {
  position: relative;
  top: 3rem;
  padding: 1.5rem 0.5rem;
  max-width: 100%;
  /* background pattern get from https://leaverou.github.io/css3patterns/ */
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  color: white;
}

.about-title {
  margin-bottom: 0.25rem;
  font-weight: 100;
  font-size: 2.25rem;
  text-align: center;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8rem;
}

.profile {
  display: flex;
  margin-top: 1rem;
  height: 8rem;
  width: 32rem;
  background-color: #2d3748;
  cursor: pointer;
  flex-grow: 0;
}

.profile:hover {
  background-color: #2a4365;
}

.profile__image {
  width: 8rem;
  height: 8rem;
  border-radius: 4px 0 0 4px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
}

.profile.alan .profile__image { background-image: url("./images/alan.jpg"); }
.profile.alan:hover .profile__image { background-image: url("./images/alan2.jpg"); }
.profile.weijian .profile__image { background-image: url("./images/weijian.jpeg"); }
.profile.weijian:hover .profile__image { background-image: url("./images/weijian2.jpeg"); }
.profile.xueyao .profile__image { background-image: url("./images/xueyao.jpg"); }
.profile.xueyao:hover .profile__image { background-image: url("./images/xueyao.jpg"); }
.profile.zhiming .profile__image { background-image: url("./images/zhiming.jpg"); }
.profile.zhiming:hover .profile__image { background-image: url("./images/zhiming.jpg"); }
.profile.joohom .profile__image { background-image: url("./images/joohom.jpg"); }
.profile.joohom:hover .profile__image { background-image: url("./images/joohom2.jpg"); }


.profile__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  width: 16rem;
}

.profile__name {
  font-size: 1.125rem;
  font-weight: 200;
  margin-bottom: 0.25rem;
}

.profile__role {
  font-size: 0.75rem;
  color: #cbd5e0;
}

.profile__specialization {
  font-size: 0.75rem;
}

.profile__specialization p:first-child {
  margin-bottom: 0.25rem;
}

.profile__major {
  padding: 0 0.1rem;
  color: #4299e1;
  font-size: 0.875rem;
  font-weight: 400;
}

.profile__minor {
  padding: 0 0.1rem;
  font-size: 0.875rem;
  color: #cbd5e0;
  font-weight: 400;
}

.tech-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tech__title {
  font-size: 1.125rem;
  font-weight: 100;
  margin-bottom: 0.25rem;
}

.tech__title-sub {
  font-weight: 400;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
}

.tech__image {
  margin-bottom: 2rem;
}

.tech__image img {
  height: 14rem;
  border: white solid 1px;
  border-radius: 4px;
}

.tech__logo {
  position: absolute;
  right: -24px;
  bottom: 12px;
}

.tech__logo img {
  height: 48px;
}

.code {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}

.code__title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.code__tab-buttons {
  display: flex;
  justify-content: center;
}

.code__tab-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-family: 'Roboto';
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.code__tab-button.active {
  background-color: #f7fafc;
  color: #1a202c;
}

.code__tab {
  display: none;
  height: auto;
  margin-top: 24px;
  padding: 0 1rem;
  max-width: 100%;
  min-height: 500px;
}

.code__tab p {
  color: #cbd5e0;
  margin-bottom: .25rem;
}

.code__tab.active {
  display: block;
}

.code__tab-columns {
  display: flex;
  flex-direction: column;
}

.code__tab-column-text {
  width: 800px;
  padding-right: 3rem;
  max-width: 100%;

}

.code__tab-column-img {
  width: 600px;
}

.code__tab-column-img.css {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-demo, .table-demo th, .table-demo td {
  color: white;
  border: 1px solid white;
}

.table-demo td, .table-demo th {
  padding: 0.25rem 0.5rem;
}

.flex-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-demo__box {
  flex: 0 32%;
  margin-bottom: 2%;
  border: white 1px solid;
  text-align: center;
  height: 88px;
}

.footer {
  position: relative;
  top: 3rem;
  color: white;
  box-sizing: border-box;
  background-color: #1a202c;
  padding: 40px 64px;
  font-weight: 300;
  border-top: 1px solid #718096;
}

.footer ul {
  margin-bottom: 3rem;
}

.footer a {
  color: #4299E1;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #BEE3F8;
}

@media(min-width: 768px) {
  .profiles {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .profile {
    margin-top: 2rem;
  }

  .profile__image {
    width: 8rem;
    height: 8rem;
  }

  .profile__caption {
    padding-left: 1rem;
  }
}

@media(min-width: 1200px) {
  .code {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .code__tab {
    padding: 0 128px;
    height: auto;
  }

  .code__tab-columns {
    flex-direction: row;
  }
}